<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-constitution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-cross-fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-cunning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{246,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-dexterity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{368,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-disabled-mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{490,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-dodge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{612,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{734,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-horizontal-fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{856,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-luck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{978,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-recovery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{1100,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-tail-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{1222,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-vertical-fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{1344,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-whirl-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{1466,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1588,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b013046c5138fa03977cfa9d33b5e64:1e9879b3a5666d789a085c94af621e11:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
