<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-tail-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,172},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{124,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103f34e42d2485392a4c7e0cec33fd35:13c27bc3f8142bd58df7cedb389337f0:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
