<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-bg-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{124,2},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-short-default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{162,2},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-short-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{344,2},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cherrycake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{526,2},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice-default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,100}</string>
                <key>spriteSourceSize</key>
                <string>{380,100}</string>
                <key>textureRect</key>
                <string>{{648,2},{380,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,100}</string>
                <key>spriteSourceSize</key>
                <string>{380,100}</string>
                <key>textureRect</key>
                <string>{{2,124},{380,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{384,124},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{423,124},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>creampuff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{462,124},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-score-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,55}</string>
                <key>spriteSourceSize</key>
                <string>{13,55}</string>
                <key>textureRect</key>
                <string>{{584,124},{13,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{599,124},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fill-score-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,35}</string>
                <key>spriteSourceSize</key>
                <string>{13,35}</string>
                <key>textureRect</key>
                <string>{{633,124},{13,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{648,124},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-over-dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{770,124},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal-log2-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{808,124},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal-log3-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,120}</string>
                <key>spriteSourceSize</key>
                <string>{360,120}</string>
                <key>textureRect</key>
                <string>{{2,246},{360,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal-log4-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,120}</string>
                <key>spriteSourceSize</key>
                <string>{480,120}</string>
                <key>textureRect</key>
                <string>{{364,246},{480,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal-log5-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,120}</string>
                <key>spriteSourceSize</key>
                <string>{600,120}</string>
                <key>textureRect</key>
                <string>{{2,368},{600,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal-log6-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,120}</string>
                <key>spriteSourceSize</key>
                <string>{720,120}</string>
                <key>textureRect</key>
                <string>{{604,368},{720,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal-log7-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,120}</string>
                <key>spriteSourceSize</key>
                <string>{840,120}</string>
                <key>textureRect</key>
                <string>{{2,490},{840,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{844,490},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-deck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{966,490},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1012,490},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1062,490},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1112,490},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-stomach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1162,490},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1212,490},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1262,490},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalHero0stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalHero1stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{124,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalHero2stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{246,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalHero3stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{368,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palace-infinity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{490,612},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palace1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{554,612},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pillar-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{618,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>potion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{740,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{862,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{984,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1106,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pudding-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1228,612},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ricecake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,734},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score-bar-fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,30}</string>
                <key>spriteSourceSize</key>
                <string>{158,30}</string>
                <key>textureRect</key>
                <string>{{124,734},{158,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{284,734},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shift-direction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{291,734},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>souffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{413,734},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{535,734},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>status-angry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{569,734},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>status-frozen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{603,734},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical-log2-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,240}</string>
                <key>spriteSourceSize</key>
                <string>{120,240}</string>
                <key>textureRect</key>
                <string>{{637,734},{120,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical-log3-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,360}</string>
                <key>spriteSourceSize</key>
                <string>{120,360}</string>
                <key>textureRect</key>
                <string>{{759,734},{120,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical-log4-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,480}</string>
                <key>spriteSourceSize</key>
                <string>{120,480}</string>
                <key>textureRect</key>
                <string>{{881,734},{120,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical-log5-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,600}</string>
                <key>spriteSourceSize</key>
                <string>{120,600}</string>
                <key>textureRect</key>
                <string>{{1003,734},{120,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical-log6-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,720}</string>
                <key>spriteSourceSize</key>
                <string>{120,720}</string>
                <key>textureRect</key>
                <string>{{1125,734},{120,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical-log7-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,840}</string>
                <key>spriteSourceSize</key>
                <string>{120,840}</string>
                <key>textureRect</key>
                <string>{{1247,734},{120,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-ewlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{124,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{246,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{368,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-ne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{490,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nelong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{612,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nelongsw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{734,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nenw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{856,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{978,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-newlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1100,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nselong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1222,1576},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nslong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nswlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{124,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{246,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nwlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{368,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nwlongse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{490,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-nwsw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{612,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{734,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-se.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{856,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-selong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{978,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-selongnw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1100,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-sesw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1222,1698},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-sewlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2,1820},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{124,1820},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-swlong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{246,1820},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-swlongne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{368,1820},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{490,1820},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1384,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b9f38ea18f74210cc782e5d028e6dd3:503ce0e7bc7c30aeed9c63360b2aa886:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
