<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-big-whirl-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-collector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,2},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-constitution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,172},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-cooldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,172},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-cross-fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,342},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-cunning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,342},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-dexterity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,512},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-disabled-mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,512},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-dispel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,682},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-dodge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,682},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-fire-ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,852},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-freeze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,852},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,1022},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-horizontal-fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,1022},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-lightening.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,1192},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-luck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,1192},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-meteor-shower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,1362},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-recovery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,1362},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-tail-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,1532},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-teleport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,1532},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,1702},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-vertical-fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{124,1702},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card-whirl-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{120,168}</string>
                <key>textureRect</key>
                <string>{{2,1872},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{246,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f44149b128923e53e44e09dda27a321:d03f8f59ba0d105af9846e9e6b0332f9:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
